<%= form_for(@repo) do |form| %>
  <%= form.error_messages %>

  <legend>Choose a project to rollup statuses:</legend>

  <%= form.label :user_name_repo_name, "Choose a repo:" %>
  <select name="repo[user_name_repo_name]" id="user-name-repo-name" class="select-chosen" data-placeholder="GitHub repositories for <%= current_user.nickname %>" style="width:350px;" tabindex="1">
    <option value=""></option>
    <% @repos.each do |repo| %>
      <option value="<%= owner_slash_name(repo) %>">
        <%= owner_slash_name(repo) %>
      </option>
    <% end %>
  </select>

  <div class='form-actions'>
    <%= form.button 'Enable StatusRollup', :class => 'btn btn-primary' %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    //<![CDATA[
      $(function() {
        $('select.select-chosen').chosen({ search_contains: true });
      });
    //]]>
  </script>
<% end %>
